.container_table { 

	bottom: 10px;
	top: 10px;
	position: absolute;
	right: 10px;
	left: 10px;
	overflow: hidden;
		overflow-y: auto;
}

.myid {
	background-color: lightgray;
	font-weight: bold;
	text-align: center;
	border-left: 2px solid gray !important;
	border-right: 2px solid gray !important;
	border-top: 0px solid !important;
	border-bottom: 0px solid !important;
}

.mybtnbar {
	border-radius:0px;
}

.myrow {
	background-color: #ff000040;
	color: black;
	border: 2px solid #e91e1e;
	font-weight: bold;
}		

/* 	Order Update	*/

.box_data {

	margin: 10px;
	overflow: hidden;	
}

.row_data {
	margin-left: 20px;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 20px;
}

.data_font {
	font-family: sans-serif;
	font-size: 14px;
}

.data_font_title {
	font-weight: bold;	
}

.data_font_value {
	font-family: cursive;
}

/*---------------*/

.t {
	font-family: sans-serif;
	font-size: 14px;
}

.t-title {
	text-align:right;
	padding-right: 5px;
	font-weight: bold;
	background-color: lightgray;
}

.t-data {
	padding-left: 5px;
	word-break: break-word;
}

/*	----------------------	*/

.head {
	height:30px;
}

.head_ped  {
	width: 130px;		
	float: left;		
	/*padding-top: 16px;*/
	height: 60px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;		
}

.head_bar {			
	float: right;
	margin-right: 10px;		
}

.btn_img {
	font-size: 18px;
}

#id {
	width: 100px;
	text-align: center;
}

#fact_total {
	width:100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;		
}
