# --------------------------------------------------------------------------
# Carga Inicial de modulos hrb,ch,prg...
# --------------------------------------------------------------------------
#SetEnv MH_INITPROCESS 	../lib/mercury.hrb,../lib/mercury.ch
SetEnv MH_INITPROCESS 	../lib/mercury.ch

# Test -> https://www.htaccessredirect.net/


# --------------------------------------------------------------------------
# Impedir que lean los ficheros del directorio
# --------------------------------------------------------------------------
Options All -Indexes

# --------------------------------------------------------------------------
# Pagina por defectos
# --------------------------------------------------------------------------
DirectoryIndex index.prg

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.prg/$1 [L]
</IfModule>

